html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Concert One', cursive; */
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

button{
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
}
* {
  box-sizing: border-box;
  font-family: 'Concert One', cursive !important;
}
/* .carousel-inner{
  width:100% !important;
  position: relative;
  overflow: hidden;
  width: 100%;
} */

.carousel-item{
  /* width: 100% !important;  */
  height: 100%;  
  /* border: 5PX solid red; */
}
.carousel-itemOne img{
  width: 100%;
  height: 100%;
  /* border: 2px solid purple; */

  object-fit: contain;
}
.carousel-innerOne{
  width:400px !important;
  height: 400px;
  /* margin-left: 500px; */
}
.carousel{
  /* position: relative !important; */
  display: flex;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
  height: 80vh;
}

a{
  color:"red"
}

.singlePost{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  font-size: 2rem;
  background-color: rgb(144, 149, 155);
  height: 100vh;
  
}
.description{
  width: 60%;
  font-size: 2rem;
  text-align: center;
  margin: auto;
}
.blogID{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(144, 149, 155);
  height: 100vh;
  margin: auto;
  padding: 0 auto;
}

.blogID p{
  width: 60%;
  text-align: center;
  font-size: 2rem;
  margin: auto;
}
.homepageBlogContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  margin-bottom: .7em;
}
.homepageBlogContainer button{
  padding: 0.4em 0.7em;
  display: flex;
  justify-content: center;
  text-align: center !important;
  color: yellow;
  background-color: #1b3219;
  border-radius: 4px;
  font-size: 1.3rem;
}
.homepageBlogContainer p{
  width: 90%;
}

.heroblog img{
width: 100%;
height: 100%;
}
.heroblog{
  width: 100%;
}