@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

button{
  font-family: 'Oswald', sans-serif !important;
    border: none;
  cursor: pointer;
  padding: 0.4em 0.7em;
  display: flex;
  justify-content: center;
  text-align: center !important;
  color: white;
  background-color: #c74c6b;
  border-radius: 4px;
  font-size: 1.3rem;
  border-radius: 4px !important;
}
h1{
  /* color: rgb(131,58,180); */
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nesco{
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
* {
  box-sizing: border-box;
}

.carousel-item{
  height: 100%;  
}
.carousel-itemOne img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}
.carousel-innerOne{
  width:400px !important;
  height: 400px;
}
.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

a{
  color:"red"
}
.single-post{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.description{
  width: 60%;
  font-size: 2rem;
  text-align: center;
  margin: auto;
}

.blogID{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(144, 149, 155);
  height: 100vh;
  margin: auto;
  padding: 0 auto;
}

.blogID p{
  width: 60%;
  text-align: center;
  font-size: 2rem;
  margin: auto;
}

/* HOME BLOG CONTAINER */
.homepageBlogContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  margin: auto;
   width: 80%; 
   margin-bottom: .7em; 
}

.homepageBlogContainer p{
   width: 90%; 

}

.heroblog img{
width: 100% ;
height: 100% ;
}
.heroblog{
   width: 100%; 
}

 /* PROFILE */ 
.me{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 1em;
  background-color: lightyellow;
  height: 100vh;
}

/* assap */

.assap{
  display: flex;
  position: sticky;
  top: 0;
  gap: 2em;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 15px;
  height: 80px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}
.icon{
  display: flex;
  gap: 1em;
  align-items: center;
}
.avater :hover{
opacity: 0.8;
}
.asapSearch{
  display:flex;
  align-items:center;
  padding:20px;
  border-radius:2px;
}
.textArea{
  outline-width:0;
  flex:1;
  border:none;
  width:80px;
}
.btn{
  width:100%;
  background-color:grey;
border-top:1px solid whitesmoke;
border-bottom:1px solid whitesmoke;

  border:none;
}
/* order form */
.oders{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: auto;
  flex-direction:row;
}
.OrderName{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(233, 212, 212);
  height: 70vh;
}



.home-icon{
  filter:brightness(0);
  filter:invert(1);
  display:block;
  padding-right:1em !important;
}

/* PRODUCT */
.Product_container{
  height: 100vh;
  margin:0 auto;
  padding: 0 auto;
  background-color: rgb(233, 212, 212);

}

.productContainer{
  display: flex;
  align-items: center ;
  flex-direction: column;
  gap: 1em; 
  width: 100%;
}
.productContainer input{
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
}
.prduct_model{
  width: 80%;
  margin: 0 auto;
  padding: 0 auto;
}


/* RESPONSIVENESS */
@media (max-width:768px), (max-width:414px) {
  .footerContainer {
    font-size: 0.7rem;
  }
  .homepageBlogContainer{
    display: flex;
    flex-wrap:wrap ;
    align-items: center center !important;
    justify-content: center !important;
    margin-bottom: 1em !important;
    

  }
  .homepageBlogContainer p{
    width: 65%;
  }
  .movingCarousel{
    display: flex;
    display: none;
  }
 
}