/* NAV */
.navContainer {
  background: rgb(131,58,180);
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
  padding: 0 7em;
}
.navContainer p {
  color: #ffff;
}
.subNavContainer a{
  color:"white";
}
.navLinks {
  display: flex;
  justify-content: space-between;
  gap: 4em;
  cursor: pointer;
}
.NavIcons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  justify-content: center;
}
.navLogo {
  cursor: pointer;
}
.navContainer img {
  cursor: pointer;
}

/* subNav */
.subNav {
  background-color: rgb(233, 212, 212);
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  gap: 0 2em;
 
}
.subNav button{
margin: 1em 0;
border-radius: 4px;
}
/* hero carousel */
.carousel-control-prev-icon {
  color: black;
}
.HeroCartegories {
  width: 80%;
  margin: auto;
  margin-top: 1.5em;
}
.HeroCartegories img {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px 3px black;
}

/* MAIN */

 .video {  
   object-fit: contain;   
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 auto;

} 
.sliddinImages{
  position: relative;
}

/* HERO BLOG */
.heroblog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

.herosec p {
  width: 50%;
}
.heroBlogPost h1 {
  text-align: center;
  margin: 1em 0;
}
.heroBlogPost {
  margin: 0;
}


.mainDes {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainDes ul {
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1em;
}
.mainDes ul li {
  list-style-type: none;
}
.mainDes p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  width: 60%;
  line-height: 1.5em;
}

/* FOOTER */
.footerCont {
  background-color: black;
  margin: auto;
}
.footerContainer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  font-size: 1.3rem;
  line-height: 1.2em;
  width: 80%;
  margin: auto;
}
.footerContainer p {
  font-size: 1.4rem;
}
.footerContainer ul {
  list-style-type: none;
  margin-top: 1em;
}
.copy {
  text-align: center;
  color: white;
  padding-bottom: 0.4em;
}
.copy span {
  color: red;
  align-items: center;
}

/* DJ */
.djNav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0;
}
.djNav p {
  color: yellow;
  font-size: 4rem;
  width: 60%;
  font-family: "Cookie", cursive;
  text-align: center;
}

.djforHire {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.djforHire h2 {
  font-size: 4rem;
}
.djforHire p {
  font-size: 2rem;
  width: 50%;
  margin: 1em 0;
}
.djImageContainer{
  width: 80%;
}
.djImge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
  justify-content: center;
  margin: 0 auto;
  margin: 1em 0;
}

.djImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1em;
  background-color:rgb(233, 212, 212) ;
  height: 50vh;
}

.img {
  position: relative;
  -moz-transition: all 5s ease-in;
  -webkit-transition: all 5s ease-in;
  transition: all 5s ease-in;
}
.desimg {
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.img:hover .desimg {
  visibility: visible;
}

/* BLOG */
.background {
  background-image: url("../public/images/politics.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.blogItemContainer{
  width: 80%;
  margin: 0 auto;
}
.blogItems {
  display: flex;
   gap: 1em;
  width: 100%;
  flex-wrap: wrap;
}
.blog_Items{
  width: 80%;
margin: 0 auto;
padding: 0 auto;
}
.blogContent {
  width: 30%;
  margin-top: 1em;
}
.blogContent p{
  width: 40%;
}

.blogItems p {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}


.blogItems h2 {
  font-size: 1.7rem;
}


.imgContainer {
  width: 100%;
  height: 250px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formdetails{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  margin: auto;
  padding: 0;
}


/* SUPERMODEL */
.superNav {
  background-color: black;
  color: white;
  height: 70vh;
  position: relative;
  top: 0;
  left: 0;
}

.superimg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.superContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.superContent p {
  font-size: 1.5rem;
}
.container {
  width: 80%;
  margin: auto;
}


.textImg {
  flex: 1;
}
.text {
  flex: 1;
}
.superImages {
  background-color:  rgb(233, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  height: 45vh;
}
.singleimg {
  height: 300px;
}


.btn{
display: flex;
justify-content: space-between;
}


/* FORM */
.formContent {
  width: 100%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 2em;
}

.formLabel input {
  border-radius: 4px;
  padding: 0.3em 2em;
}
.selectItem {
  border-radius: 4px;
  padding: 0.4em 2.3em;
}
.formLabel {
  display: flex;
  flex-direction: column;
}
.loginContainer {
  width: 100%;
}

.loginform {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

.loginContainer input {
  border-radius: 4px;
  padding: 0.3em 2em;
}
.checkbox {
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
}

/* LOGIN */
.loginspan {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.loginSpanItem {
  display: block;
  color: red;
  text-align: center;
}
.modalItem{
  justify-content: space-between;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-direction: row;
}

/* PRODUCT */
.productSingle_Item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap ;
  gap: 2em;
}
.productItem_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap ;
  column-count: auto;
gap: 2em;
width: 33%;

}
